body{background:#0f0f0f;color:#fff;font-family:Arial;margin:0}
header{text-align:center;background:#000;padding:20px;font-size:24px}
.search-box{text-align:center;margin-top:20px}
input{padding:10px;border:none;border-radius:6px;width:250px}
button{padding:10px 14px;background:#e50914;border:none;color:#fff;border-radius:6px;margin-left:10px}
#player iframe{width:90%;height:480px;margin:20px auto;display:block}
