body{background:#111;color:#fff;font-family:Arial;margin:0}
header{text-align:center;padding:20px;background:#000}
.search-box{margin:20px;text-align:center}
input{padding:10px;width:240px;border-radius:6px;border:none}
button{padding:10px 15px;margin-left:10px;background:#e50914;color:#fff;border:none;border-radius:6px}
#player iframe{width:90%;height:480px;margin:20px auto;display:block}
