body{background:#0d0d0d;color:#fff;font-family:Arial;margin:0}
header{text-align:center;padding:18px;background:#000;font-size:26px;border-bottom:1px solid #222}
.search-container{display:flex;justify-content:center;margin-top:25px;gap:10px}
input{padding:12px;width:280px;border-radius:6px;border:none;background:#1b1b1b;color:#fff}
button{padding:12px 20px;border-radius:6px;border:none;background:#e50914;color:#fff;font-weight:bold;cursor:pointer}
button:hover{opacity:0.8}
#movie-info{text-align:center;margin-top:20px}
.poster{width:230px;border-radius:10px;margin-top:15px;box-shadow:0 0 12px #000}
#container{max-width:1000px;margin:35px auto;background:#111;border-radius:14px;padding:20px;box-shadow:0 0 15px #000}
iframe{width:100%;height:500px;border:none;border-radius:12px}
